# Your Render backend URL (no trailing slash)
VITE_API_URL=http://signalboard-notification-system.onrender.com/
# OneSignal > Settings > Keys & IDs > App ID (Web Push only)
VITE_ONESIGNAL_APP_ID=63e646f1-90f7-4be0-b490-42b710584871
